<?xml version="1.0" encoding="UTF-8"?>
<server>
    <monitorsrv>
        <localserver>127.0.0.1</localserver>
        <port>8080</port>
    </monitorsrv>
    <displayctl>
        <delaytime>20</delaytime>
        <transtime>2</transtime>
        <trmaxno>3</trmaxno>
        <recmaxno>3</recmaxno>
    </displayctl>
</server>
